body{
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #f0f0f0;

}

.logo{
    width: 120px;
    cursor: pointer;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 1.25rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    
}



.restaurant-card{
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.restaurant-card:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    box-shadow:2px 2px 10px black;
}

.search-container{
    display: flex;
    justify-content: center;
}

.search-container > input, button {
    margin: 10px;
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 10px;
}

.loading-img-div{
    display: flex; /* Use flex display */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Optionally, set a height to center vertically */
}

.loading-img{
    display: block;
  margin: 30px auto;
  width: 50px;

}

.res-img > img{
        width: 100%;
        height: 250px;
      
      
}

.res-info > .res-name, .res-cuisine{
    margin-left: 10px;
}

.res-details > ul{
    display: flex;
    justify-content: space-around;
     padding: 1.0rem; 
    list-style-type: none;
    width: 90%;
}

.res-details > ul > li{
    margin-top: -20px;
    padding: 5px;
    /* margin-left: 5px; */
    margin-right: 5px;
    font-size: 0.85rem;
}
.search-container{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.footer {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.sort-revert{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.sort-btn > button {
    margin: 5px;
    padding: 10px;
    width: 120px;
    height: 50px;
}

.revert-btn > button{
    margin: 5px;
    padding: 10px;
    width: 120px;
    height: 50px;
}

.res-name{
    font-size: 18px;
    height: 20px;
    width: 100%;

}

.res-cuisine{
    font-size: 20px;
    height: 20px;
    width: 100%;

}

.res-details{
    margin-top: 20px;
    height: 60px;
}

.shimmer-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 10px;
}

.shimmer-card{
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 400px;
    background-color: #f0f0f0;
}

.shimmer-card:hover{
    box-shadow: 5px 5px 10px rgb(228, 214, 214);
}

.login-logout-btn{
    padding: 10px;
    margin: 10px;
    font-size: 1.00rem;
    width: 100px;
    border: none;
    background-color: white;
}

.login-logout-btn:hover{
    border: 1px solid black;
    background-color: #f0f0f0;
    cursor: pointer;
}

.sort-rvrt-btn{
    display: flex;
    justify-content: flex-end;
}

.res-container > a, ul > li > a{
    text-decoration: none;
    color: #000;
}

ul > li > a:hover{
    color: rgb(79, 104, 152);
}

.menu-item{
    display: flex;
    justify-content: space-between;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 10px;
}

.menu-item > .menu-dish-img > img{
        height: 200px;
        width: 220px;
        object-fit: cover;
        padding-top: 25px;
    } 

.menu-heading{
    text-align: center;
}

.menu-item-desc-div{
    max-width: 100%;
    max-height: 200px;
    overflow: auto;
}

.item-desc{
    display: flex;
    flex-direction: column;
}

